<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio / Personal Layout</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <nav>
            <!-- Links to Work, About, Contact -->
        </nav>
    </header>
    <main>
        <section class="intro">
            <!-- Profile Info and Bio -->
                <p>a</p>
                <h3>a</h3>
        </section>
        <section class="portfolio-grid">
            <!-- Project Cards -->
             <p>a</p>
             <h3>a</h3>
        </section>
    </main>
    <footer>
        <!-- Connect / Social info -->
    </footer>
</body>
</html>